/*
 * CSS Reset
 */

 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

/*
 * General Rules
 */

 section {
	min-height: 100vh;
 	background-color: #F5F4EE;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	color: #323232;
 }

 h1:hover,
 h2:hover,
 h3:hover,
 h4:hover,
 h5:hover,
 h6:hover {
 	color: #FFF;
 }

 p {
 	color: #323232;
 }

/*
 * Header Section
 */

 header > nav {
 	height: 8vh;
 	background-color: #323232;
 }

 header > nav > a {
 	font-family: 'Raleway', sans-serif;
 	color: #F5F5F5;
 }

 header > nav > a:hover {
 	color: #FFF;
 }

 header > nav > ul > li > a {
 	font-family: 'Raleway', sans-serif;
 	color: #F5F5F5;
 }

 header > nav > ul > li > a:hover {
 	color: #FFF;
 }

/*
 * Main Section
 */

 .container-fluid {
 	padding: 0px;
 }

 section#home > h2 {
 	font-family: 'Neucha', sans-serif;
 	font-size: 40px;
 }

/*
 * Footer Section
 */

footer {
	min-height: 5vh;
	background-color: #D3D3D3;
}